<h2>Reactive form</h2>
<ng-container *ngIf="myData">
<div class="container">
  <form [formGroup]="form" (ngSubmit)="saveUser()">
    <div class="form-group">
      <custom-input id="txt-username" type="text" label="Username" controlName="username" [form]="form"></custom-input>
      <ng-container *ngIf="form.controls.username.errors">
        <br/>
        <code>
          {{form.controls.username.errors | json}}
        </code>
      </ng-container>
    </div>
    <div class="form-group">
    <custom-input id="txt-email" type="email" label="Email" controlName="email" [form]="form"></custom-input>
      <ng-container *ngIf="form.controls.email.errors">
        <br/>
        <code>
          {{form.controls.email.errors | json}}
        </code>
      </ng-container>
    </div>  
    <div class="form-group">
      <custom-input id="txt-password" type="password" label="Password" controlName="password" [form]="form"></custom-input>
      <ng-container *ngIf="form.controls.password.errors">
        <br/>
        <code>
          <ng-container *ngIf="form.controls.password.errors.pattern" >
            <pre>
            At least 1 uppercase ASCII letter
            At least 1 lowercase ASCII letter
            At least 1 ASCII digit
            Any 8 or more chars (other than line break chars)
            </pre>
          </ng-container>
          <ng-container *ngIf="form.controls.password.errors.required">
            {{form.controls.password.errors | json}}
          </ng-container>
        </code>
      </ng-container>
    </div>
    <div class="form-group">
      <custom-list id="ddl-userType" label="User Type" controlName="userType" [list]="userTypeList" [form]="form"></custom-list>
      <ng-container *ngIf="form.controls.userType.errors">
        <br/>
        <code>
          {{form.controls.userType.errors | json}}
        </code>
      </ng-container>
    </div>
    <div class="form-group">
      <user-rating label="Rating" [increment]="1" formControlName="rating"></user-rating>
      <ng-container *ngIf="form.controls.rating.errors">
        <br/>
        <code>
          {{form.controls.rating.errors | json}}
        </code>
      </ng-container>
    </div>
    <div class="form-group">
      <button class="btn btn-success"  type="submit">Save user</button>
    </div>
  </form>
</div>
</ng-container>
