<h2>Reactive form</h2>

<ng-container *ngIf="myData">
<form [formGroup]="form" (ngSubmit)="saveUser()">
  <table>
    <tr>
      <td>
        <custom-input id="txt-username" type="text" label="Username" controlName="username" [form]="form"></custom-input>
      </td>
    </tr>
    <tr>
      <td>
        <custom-input id="txt-email" type="email" label="Email" controlName="email" [form]="form"></custom-input>
      </td>
    </tr>
    <tr>
      <td>
        <custom-input id="txt-password" type="password" label="Password" controlName="password" [form]="form"></custom-input>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Save user</button>
      </td>
    </tr>
  </table>
</form>
</ng-container>
