<h2>Reactive form</h2>

<ng-container *ngIf="myData">
<form [formGroup]="form" (ngSubmit)="saveUser()">
  <table>
    <tr>
      <td>
        <custom-input id="txt-username" type="text" label="Username" controlName="username" [form]="form"></custom-input>
      </td>
    </tr>
    <tr>
      <td>
        <custom-input id="txt-email" type="email" label="Email" controlName="email" [form]="form"></custom-input>
      </td>
    </tr>
    <tr>
      <td>
        <custom-input id="txt-password" type="password" label="Password" controlName="password" [form]="form"></custom-input>
      </td>
    </tr>
    <tr>
      <td>
        <custom-list id="ddl-userType" label="User Type" controlName="userType" [list]="userTypeList" [form]="form"></custom-list>
      </td>
    </tr>
    <tr>
      <td>
        <user-rating [increment]="1" formControlName="rating"></user-rating>
        <ng-container *ngIf="form.controls.rating.errors">{{form.controls.rating.errors | json}}</ng-container>
      </td>
    </tr>
    
    <tr>
      <td>
        <button type="submit">Save user</button>
      </td>
    </tr>
  </table>
</form>
</ng-container>
