<div class="navbar">
  <ul class="buttons">
    <li>
      <a routerLink="ng-template" routerLinkActive="active">
        &lt;ng-template&gt;
      </a>
    </li>
    <li>
      <a routerLink="ng-template-outlet" routerLinkActive="active">
        *ngTemplateOutlet
      </a>
    </li>
    <li>
      <a routerLink="ng-container" routerLinkActive="active">
        &lt;ng-container&gt;
      </a>
    </li>
    <li>
      <a routerLink="ng-content" routerLinkActive="active">
        &lt;ng-content&gt;
      </a>
    </li>
    <li>
      <a routerLink="view-child" routerLinkActive="active"> View Child </a>
    </li>
    <li>
      <a routerLink="view-children" routerLinkActive="active">
        View Children
      </a>
    </li>
    <li>
      <a routerLink="content-child" routerLinkActive="active">
        Content Child
      </a>
    </li>
    <li>
      <a routerLink="content-children" routerLinkActive="active">
        Content Children
      </a>
    </li>
    <li>
      <a routerLink="preloading-strategy" routerLinkActive="active">
        Preloading Strategy
      </a>
    </li>
    <li>
      <a routerLink="reactive-form" routerLinkActive="active">
        Reactive Form
      </a>
    </li>
    <li>
    <a routerLink="template-form" routerLinkActive="active">
      Template Form
    </a>
  </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
