<div class="navbar">
  <ul class="buttons">
    <li>
      <a routerLink="ng-template" routerLinkActive="active">
        &lt;ng-template&gt;
      </a>
    </li>
    <li>
      <a routerLink="ng-template-outlet" routerLinkActive="active">
        *ngTemplateOutlet
      </a>
    </li>
    <li>
      <a routerLink="ng-container" routerLinkActive="active">
        &lt;ng-container&gt;
      </a>
    </li>
    <li>
      <a routerLink="ng-content" routerLinkActive="active">
        &lt;ng-content&gt;
      </a>
    </li>
    <li>
      <a routerLink="view-child" routerLinkActive="active"> view-child </a>
    </li>
    <li>
      <a routerLink="view-children" routerLinkActive="active">
        view-children
      </a>
    </li>
    <li>
      <a routerLink="content-child" routerLinkActive="active">
        content-child
      </a>
    </li>
    <li>
      <a routerLink="content-children" routerLinkActive="active">
        content-children
      </a>
    </li>
    <li>
      <a routerLink="preloading-strategy" routerLinkActive="active">
        preloading-strategy
      </a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
