<div class="navbar">
  <ul class="buttons">
    <li>
      <a routerLink="ng-template" routerLinkActive="active">
        &lt;ng-template&gt;
      </a>
    </li>
    <li>
      <a routerLink="ng-template-outlet" routerLinkActive="active">
        *ngTemplateOutlet
      </a>
    </li>
    <li>
      <a routerLink="ng-container" routerLinkActive="active">
        &lt;ng-container&gt;
      </a>
    </li>
    <li>
      <a routerLink="ng-content" routerLinkActive="active">
        &lt;ng-content&gt;
      </a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
